* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #282f49;
  --dark-rust: #78350f;
  --light-blue: #38bdf8;
  --yellow: #fde68a;
}

body {
  background-color: var(--light-blue);
  line-height: 1.5;
  color: var(--dark-rust);
  text-shadow: 2px 2px 1px var(--yellow);
}

img {
  /* width: 225px; */
  width: 15vw; 
  height: 30vw;
  background-color: var(--dark-blue);
  padding: 5% 10% 5% 10%;
  border: 5px groove var(--dark-rust);
}

ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0;
  gap: 25px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  place-items: center;
}

img:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

p {
  background-color: var(--dark-blue);
  font-weight: bold;
  font-size: 1.2rem;
  width: 15vw;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  border: 5px groove #78350F;
  color: var(--yellow);
  text-shadow: none;
} 

p:hover {
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--dark-rust);
}
