* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --dark-blue: #282f49;
    --dark-rust: #78350f;
    --light-blue: #38bdf8;
    --yellow: #fde68a;
}

body {
  background-color: var(--light-blue);
  color: var(--dark-rust);
  text-shadow: 2px 2px 1px var(--yellow);
}

img {
  width: 200px;
  height: 405px;
  background-color: var(--dark-blue);
  padding: 5% 10% 5% 10%;
  border: 5px solid var(--dark-rust);
}

ul {
  display: grid;
    grid-template-columns: repeat(4, auto);
  padding: 0;
  gap: 25px;
}
  
li {
  list-style: none;
  display: flex;
  flex-direction: column;
  place-items: center;
}


